<%= form_with model: [ post, Comment.new] do |form| %>
    <h5>Make a comment:</h5>
    <% if user_signed_in? %>
        <p><%= form.text_area(:content, :class => 'form-control') %></p>
        <%= form.submit(:class => 'btn btn-primary') %>
    <% else %>
        <p>Please, <%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to comment.</p>
    <% end %>
<% end %>
