<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <% post.errors.each do |error| %>
      <div class="alert alert-danger"><%= error.full_message %></div>
    <% end %>
  <% end %>

  <p>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field(:title, :class => 'form-control') %>
  </p>

  <p>
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area(:content, :class => 'form-control') %>
  </p>

  <p>
    <%= form.submit(:class => 'btn btn-primary') %>
  </p>
<% end %>
