<p></p>
<div id="<%= dom_id(post) %>" class="card">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <em>Posted <%= time_tag post.created_at, "data-local": "time-ago" %> by <%= post.user.email.split('@')[0] %>. <%= pluralize post.comments.count, "comment" %>.</em>
  </div>
</div>
